/*
Custom CSS for P.C.E.A Kihumo Church: Rironi Parish Designed and Managed by UTU Websites
/* Container that holds the Google Map */
.aya-topic-title {
  padding-bottom: 5px;
  font-family: var(--secondary-font-family);
  font-size: 25px;
  font-weight: 600px;
}

.container-library {
  display: block;
  padding: 16px;
}

.card-body {
  overflow: visible;
  max-height: none;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
      -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  }
}